/Assets/scenes/.mayaSwatches/Normal fuzzy.mb.swatches
/Assets/sourceimages/Texture/.mayaSwatches/Normal Fuzzy.psd.Composite.swatch
/.gitignore
/Assets/images/tmp/Fire fuzzy.iff
/Assets/particles/Electric fuzzy_startup/lightningCurve1ParticleShape.6750.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve2ParticleShape.6750.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve3ParticleShape.6750.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve4ParticleShape.6750.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve5ParticleShape.6750.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve6ParticleShape.6750.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve7ParticleShape.6750.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve8ParticleShape.6750.pdc
/Assets/particles/Fire fuzzy_startup/FireShape.3000.pdc
/Assets/renderData/iprImages/Fire fuzzy_ipr.iff
/Assets/scenes/.mayaSwatches/Electric fuzzy.mb.swatches
/Assets/scenes/.mayaSwatches/Fire fuzzy.mb.swatches
/Assets/sourceimages/Texture/.mayaSwatches/Electric Fuzzy transparency.psd.Composite.swatch
/Assets/sourceimages/Texture/.mayaSwatches/Electric Fuzzy.psd.Composite.swatch
/Assets/sourceimages/Texture/.mayaSwatches/Fire Fuzzy.psd.Composite.swatch
/Assets/sourceimages/Texture/.mayaSwatches/Lightning Fuzzy.psd.Composite.swatch
/Assets/images/tmp/Ice Fuzzy.iff
/Assets/images/tmp/untitled.iff
/Assets/scenes/.mayaSwatches/Ice Fuzzy.mb.swatches
/Assets/sourceimages/Texture/.mayaSwatches/Ice Fuzzy.psd.Composite.swatch
/Assets/scenes/.mayaSwatches/Magnetic Fuzzy.mb.swatches
/Assets/sourceimages/Texture/.mayaSwatches/Magnetic Fuzzy.psd.Composite.swatch
/Assets/scenes/.mayaSwatches/Antimatter Fuzzy.mb.swatches
/Assets/scenes/.mayaSwatches/Sunglasses.mb.swatches
/Assets/sourceimages/Texture/.mayaSwatches/Anti-matter Fuzzy.psd.Composite.swatch
/Assets/images/tmp/Antimatter Fuzzy.iff
/Assets/images/tmp/Electric fuzzy.iff
/Assets/images/tmp/Magnetic Fuzzy.iff
/Assets/images/tmp/Normal fuzzy.iff
/Assets/images/Fire fuzzy.iff
/Assets/particles/Fire fuzzy_startup/FireShape.750.pdc
Library
Temp
/Assets/particles/Electric fuzzy_startup/lightningCurve1ParticleShape.14500.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve2ParticleShape.14500.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve3ParticleShape.14500.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve4ParticleShape.14500.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve5ParticleShape.14500.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve6ParticleShape.14500.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve7ParticleShape.14500.pdc
/Assets/particles/Electric fuzzy_startup/lightningCurve8ParticleShape.14500.pdc
/Assets/particles/Fire fuzzy_startup/FireShape.24000.pdc
/Assets/scenes/.mayaSwatches/Office_door.mb.swatches
/Guide to Fuzzy world.pdf
/Assets/scenes/.mayaSwatches/Fire_Fuzzy_2.mb.swatches
/Assets/scenes/.mayaSwatches/Fire_Fuzzy_v2.mb.swatches
/Assets/sourceimages/Texture/.mayaSwatches/Fire_form.psd.Composite.swatch
/Assets/scenes/.mayaSwatches/Electric_Fuzzy_v2.mb.swatches
/Assets/sourceimages/Texture/.mayaSwatches/Electricity_form.psd.Composite.swatch
/Assets/images/outUV.png
/Assets/scenes/.mayaSwatches/Ice_Fuzzy_v2.mb.swatches
/Assets/sourceimages/Texture/.mayaSwatches/Ice_form.psd.Composite.swatch
/assets/scenes/.mayaSwatches/Electric_power.mb.swatches
/assets/scenes/.mayaSwatches/Fire_power.mb.swatches
/assets/scenes/.mayaSwatches/Ice_power.mb.swatches
/assets/scenes/.mayaSwatches/Magnetic_power.mb.swatches
/Assets/scenes/Character form/.mayaSwatches/Magnetic_form.mb.swatches
/Assets/sourceimages/Texture/.mayaSwatches/Antimatter_power.psd.Composite.swatch
/Assets/sourceimages/Texture/.mayaSwatches/Electric_power.psd.Composite.swatch
/Assets/sourceimages/Texture/.mayaSwatches/Fire_power.psd.Composite.swatch
/Assets/sourceimages/Texture/.mayaSwatches/Ice_power.psd.Composite.swatch
/Assets/sourceimages/Texture/.mayaSwatches/Magnetic_form.psd.Composite.swatch
/Assets/sourceimages/Texture/.mayaSwatches/Magnetic_power_North.psd.Composite.swatch
/Assets/sourceimages/Texture/.mayaSwatches/Magnetic_power_South.psd.Composite.swatch
/Assets/scenes/Character form/.mayaSwatches/Antimatter_form.mb.swatches
/Assets/scenes/Character form/.mayaSwatches/Fire_form.mb.swatches
/Assets/scenes/Character form/.mayaSwatches/Ice_form.mb.swatches
/Assets/scenes/Character form/.mayaSwatches/Normal_form.mb.swatches
/Assets/scenes/The office/.mayaSwatches/Whiteboard.mb.swatches
/Assets/scenes/The office/.mayaSwatches/Window.mb.swatches
/Assets/sourceimages/Texture/.mayaSwatches/Antimatter_form.psd.Composite.swatch
/Assets/sourceimages/Texture/.mayaSwatches/Normal_form.psd.Composite.swatch
/Assets/sourceimages/Texture/Objects/.mayaSwatches/Office_whiteboard.psd.Composite.swatch
/Assets/sourceimages/Texture/Objects/.mayaSwatches/Office_window.psd.Composite.swatch
/Assets/scenes/Props/.mayaSwatches/Whiteboard.mb.swatches
/Assets/scenes/Props/.mayaSwatches/Window.mb.swatches
/Assets/scenes/Props/.mayaSwatches/*.swatches
/Assets/scenes/Props/.mayaSwatches/*.swatches
/Assets/sourceimages/Texture/.mayaSwatches/*.swatch
/Assets/scenes/Props/*.fbx
/Assets/sourceimages/Texture/Objects/.mayaSwatches/*.swatch
/Assets/scenes/Character form/.mayaSwatches/*.swatches
/Assets/sourceimages/.mayaSwatches/*.swatch
/Assets/sourceimages/*.als
/Assets/scenes/Character form/*.fbx
/Assets/scenes/PowerUps/*.fbx
/Assets/sourceimages/mask/*.als
/Assets/scenes/PowerUps/.mayaSwatches/Antimatter_power.mb.swatches
/Assets/scenes/PowerUps/.mayaSwatches/Electric_power.mb.swatches
/Assets/scenes/PowerUps/.mayaSwatches/Fire_power.mb.swatches
/Assets/scenes/PowerUps/.mayaSwatches/Ice_power.mb.swatches
/Assets/scenes/PowerUps/.mayaSwatches/Magnetic_power.mb.swatches
/Assets/sourceimages/Texture/PowerUps/.mayaSwatches/Antimatter_power.psd.Composite.swatch
/Assets/sourceimages/Texture/PowerUps/.mayaSwatches/Antimatter_power_MAT.psd.Composite.swatch
/Assets/sourceimages/Texture/PowerUps/.mayaSwatches/Electric_power_MAT.psd.Composite.swatch
/Assets/sourceimages/Texture/PowerUps/.mayaSwatches/Fire_power_MAT.psd.Composite.swatch
/Assets/sourceimages/Texture/PowerUps/.mayaSwatches/Ice_power_MAT.psd.Composite.swatch
/Assets/sourceimages/Texture/PowerUps/.mayaSwatches/Magnetic_power_North_MAT.psd.Composite.swatch
/Assets/sourceimages/Texture/PowerUps/.mayaSwatches/Magnetic_power_South_MAT.psd.Composite.swatch
/Assets/images/fire.png
/Unity/Assets/Models/Character/Materials/Antimatter_form_Sunglasses_base_MAT.mat
/Unity/Assets/Models/Character/Materials/Antimatter_form_Sunglasses_base_MAT.mat.meta
